<div class="mx-1">
  <button
    [matMenuTriggerFor]="menu"
    class="flex rounded-2xl h-11 button-filter items-center p-3 max-w-44 justify-center gap-2 bg-am-main-custom3-dark"
    [matTooltip]="menuFilter.tooltip!"
  >
    <mat-icon class="text-white" [fontIcon]="menuFilter.icon!"></mat-icon>
    <span class="text-white text-sm"> {{ menuFilter.label }} </span>
  </button>
  <mat-menu #menu="matMenu" class="shadow-md mt-2 p-4">
    <div>
      <app-filter-checkbox
      [checkData]="menuFilter.menuItems"
      (checkOut)="checkedTrue($event)"
      [initFilter]="initfilters"
      [reset]="reset"
      />
    </div>
  </mat-menu>
</div>
