<div class="head" [ngClass]="getHeadClass()">
  <div class="head-content">
    <div class="head-content-left">
      <div class="search-container"></div>
    </div>
    <div class="head-content-right">
      <div class="head-menu">
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <i class="fal fa-address-book menu-icon"></i>
          </button>
        </div>
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple" [cdkMenuTriggerFor]="notificationOverlay">
            <i class="fal fa-bell menu-icon"></i>
          </button>
        </div>
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <i class="fal fa-bookmark menu-icon"></i>
          </button>
        </div>
      </div>
      <div class="head-user-avatar-container">
        <div class="head-user-avatar" [cdkMenuTriggerFor]="userOverlay">
          <img src="public/avatar.jpg" alt="user" class="user-avatar" />
          <div class="circle-indicator pulse"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #languageOverlay>
  <div class="overlay overlay-language overlay-fall" cdkMenu>
    <ul>
      @for (lang of languages; track $index) {
      <li cdkMenuItem>
        <img [src]="'assets/flags/' + lang.flag + '.jpg'" alt="flag" />
        <span>{{ lang.language }}</span>
      </li>
      }
    </ul>
  </div>
</ng-template>

<ng-template #notificationOverlay>
  <div class="overlay overlay-notification overlay-fall" cdkMenu>
    <ul>
      <li class="notification-head-container">
        <div class="notification-head">Notification</div>
        <span class="view-all-link">
          <a>View All</a>
        </span>
      </li>
      @for (notification of notifications; track $index) {
      <li class="notification-message-container" cdkMenuItem>
        <i [class]="notification.icon"></i>
        <div>
          <div class="notification-subject">
            {{ notification.subject }}
          </div>
          <p class="notification-desc">
            {{ notification.description }}
          </p>
        </div>
      </li>
      }
    </ul>
  </div>
</ng-template>

<ng-template #userOverlay>
  <div class="overlay overlay-user overlay-fall" cdkMenu>
    <ul>
      <li cdkMenuItem>
        <a>
          <i class="icon fal fa-user"></i>
          <span>Perfil</span>
        </a>
      </li>

      <li cdkMenuItem>
        <a>
          <i class="icon fal fa-cog"></i>
          <span>Configuración</span>
        </a>
      </li>

      <li class="divider"></li>

      <li cdkMenuItem (click)="logout()">
        <a>
          <i class="icon fal fa-sign-out"></i>
          <span>Cerrar sesión</span>
        </a>
      </li>
    </ul>
  </div>
</ng-template>